h1 {color: black; font-style: italic}
h2 {color: black; font-family: 'Times New Roman', Times, serif;}
p {color: rgb(41, 1, 187); font-style: normal;}

#precabralino {color: rgb(238, 0, 0); font-family: 'Courier New', Courier, monospace;}
