.hmenu {
   background-color: rgb(0, 140, 255);
   font-family: Arial, Helvetica, sans-serif;
}

.hmenu ul {
   list-style: none;
   padding: 0;
}

.hmenu ul li {
   display: inline-block;
}

.hmenu ul li a {
   display: inline-block;
   padding: 20px;
   text-decoration: none;
   text-transform: uppercase;
   color: white;
}

.hmenu ul li a:hover {
   background-color: aliceblue;
   color: rgb(0, 140, 255);
   text-decoration: underline;
   text-decoration-color: white;
   text-decoration-style: wavy;
}

.hmenu ul li a.visited {
   color: rgb(122, 122, 122);
   font-family: fantasy;
}